*{
    font-family:'Poppins', sans-serif;
    margin: 0px;
   
}
body{
  background-color: #be3144;
}


.ul-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0px 5px;
    overflow: hidden;
    background-color: #be3144;

  }
  
  .li-navbar {
    float: right;
  }
  
  .li-navbar a {
    display: block;
    color: #f0f0f0;
    text-align: center;
    padding: 20px 22px;
    font-size: 22px;
    text-decoration: none;
    font-family:'Poppins';
    font-weight:500;
  }
  
  /* Change the link color to #111 (black) on hover */
  .li-navbar a:hover {
    background-color: #45567d;
  }
  .hero{
    padding: 300px;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    
   
  }
  .hero h1{
    color: #f0f0f0;
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }
  .hero p{
    text-align: center;
    color: #be3144;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
  }
 
  
/* carouser */
.carousel {
  position: relative;
  max-width: auto;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0px;
}

.slide-container {
  display: flex;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.slide {
  flex: 0 0 100%;
  display: none;
}

.slide.active {
  display: block;
}

.slide img {
  width: 800px;
  height: 500px;

}

.carousel button {
  margin-top: 10px;
  font-size: 16px;
  padding: 10px 20px;
}





  .bottom-cont{
    padding: 200px 200px;
    background-color: #303841;
    text-align: center;
  }
  .bottom-cont h1{
    color: #f0f0f0;
    font-size: 60px;
    font-family:'Raleway', sans-serif;
  }
  .bottom-cont p{
    color: #f0f0f0;
    font-family:'Times New Roman';
    font-size: 18px;
    font-weight: lighter;

  }
  .bottom-cont ul {
    list-style-type: none;
   
    padding: 0px 5px;
    overflow: hidden;
    color: #f0f0f0;
    margin-top: 30px;
   

  }
  
  .bottom-cont li {
    
    padding: 0 15px;
    display: inline;
    font-family: 'Poppins';
    font-size: 25px;
    cursor: pointer;
    
  }
  .bottom-bar{
    background-color: #303841;
    margin-top: 5px;
    padding: 25px 0px;
    text-align: center;
  }
  .bottom-bar h3{
    font-weight: 400;
    color: #f0f0f0;
    display: inline;
    
    padding: 0px 50px;
  }
